*{
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}
a{
    text-decoration: none;
}
body {
    color: #060303;
    font-size: 2.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    background-color: hsl(29, 21%, 43%);
    flex: 2 2 12em;
    padding: 1em;
}

nav, aside {
    flex: 1;
    background-color: #cc905c;
}

nav {
    order: -1;
}
 
header, footer {
    flex: 0 0 5em;
    background-color: #e5cc90;
}
header p{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
footer p{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
} 

@media screen and (min-width: 600px) {
     
    body{
        min-height: 100vh;
    }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}
